#container {
    width: 920px;
}

.required {
    color: rgb(164, 38, 44);
}

.saldo{
    padding-right: 15px;
}

.checkBoxEdit{

    height: 100%;

}



.ql-editor blockquote,
.ql-editor div,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor ol,
.ql-editor p,
.ql-editor ul,
.ql-snow .ql-editor blockquote,
.ql-snow .ql-editor div,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3,
.ql-snow .ql-editor h4,
.ql-snow .ql-editor ol,
.ql-snow .ql-editor p,
.ql-snow .ql-editor ul {
    line-height: 1 !important;
    margin: 5px !important;
}

#observacao p {
    line-height: 1 !important;
    margin: 5px !important;
}

#descricaoProblema p {
    line-height: 1 !important;
    margin: 5px !important;
}

#solucaoEncontrada p {
    line-height: 1 !important;
    margin: 5px !important;
}

#alteracoes p {
    line-height: 1 !important;
    margin: 5px !important;
}

#conteudoBuscaAvancada{
    width: 900px;
}

#documentosAlterados p {
    line-height: 1 !important;
    margin: 5px !important;
}

#documentosOrigem p {
    line-height: 1 !important;
    margin: 5px !important;
}

#produtosAfetadosObservacao p {
    line-height: 1 !important;
    margin: 5px !important;
}


#gridTodosItens th{
    background-color: rgb(190, 229, 235);;
}

.selection-cell{
    text-align: center;
}



.textoDireita {
    text-align: right;
}

.cursorPointer {
    cursor: pointer;
}

.modalLargura700 {
    max-width: 700px !important;
}

.modalLargura880{
    max-width: 910px !important;
}

.card {
    margin-bottom: 5px;
}

.carregando {
    text-align: center;
}

.font-tabelas {
    font-size: 14px !important;
}

.textCenter {
    text-align: center;
}

.textoInformacao {
    font-size: 14px !important;
}

.editorRichTex {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



.datePicker {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 39px;
    font-size: 14px;
}


.ms-TextField-fieldGroup {
    border: 0px;
}

.header-class {
    word-wrap: break-word;
}

#gridTodosItens {
    word-wrap: break-word;
    overflow: auto;
    table-layout: auto !important;
}

.btnCustom {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.padding10 {
    padding: 10px;
}

.ico {
    color: #ced4da;
}

.alinhamentoMeio {
    vertical-align: bottom
}

.labelConjuntosSubconjutos {
    width: 84px;
    vertical-align: middle;
}

.tdLarguraPesquena {

    width: 129px;

}

.tdLarguraPesquena {

    width: 129px;

}


.observacao {

    width: 622px;

}

.disposicao {

    width: 143px;

}


.conteudoDetalhes {
    font-size: 1rem;
}

.conteudoEditar {
    font-size: 1rem;
}

.ql-editor {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}


b,
strong {
    font-weight: bold;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.break-word {
    word-break: break-word
}

.cinza {
    color: darkgray;
}

/*
.fieldGroup-234{
    border: 0px;
}

.field-147 {
    color: #495057;
    font-size: 1rem;
}

.field-148 {
    color: #495057;
    font-size: 1rem;
}

.icon-156 {
    padding: 4px 5px 5px;
}

.my-hovertable > tbody > tr.mytable-hover-row:hover {
    background-color: rgba(212, 24, 24, 0.822) !important;
}
*/
/*
#gridTodosItens{
    word-wrap: break-word;
}
*/